/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Header Styles */
nav {
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #034078;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  margin: auto;
}

nav .navbar .logo a {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}

nav .navbar .menu {
  display: flex;
}

.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}

.navbar .menu li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

/* Section Styles */
section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #1282A2;
  font-size: 70px;
}

.homepage {
  background-image: url('files/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Button Styles */
.button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.ConfigStart{
  width: 50px;
  height: 15px;

}


/* Other Styles */
.logo-img {
  width: 70px;
  height: 70px;
}

.selector-img {
  width: auto;
  height: 400px;
}

.flexbox-selector-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.selector-box {
  border: solid black 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.selector-box:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.selector-box.clicked {
  transform: scale(1.1);
  border-color: #034078;
  border: solid 3px;
}

.next-button {
  background-color: #034078;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 20px;
  margin: 0px !important;
}

.block-init {
  border: solid black 1px;
  width: 60vw;
  height: 60vh;
  margin-left: 70px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: end;
  position: absolute;
  bottom: 140px;
}

.room-to-fill {
  width: 40vw;
  height: 40vh;
  border: solid black 2px;
  position: absolute;
  top: 230px;
  left: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px 0px;
  row-gap: 0px;
  align-content: flex-start;
}

.square-to-drag {
  width: 60px;
  height: 60px;
  border: solid black 1px;
  margin-right: 10px;
}

.square-to-drag-in-room {
  width: 10%;
  height: 25%;
  margin: 0px;
}

.flexbox-allig-left-for-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

.library-div {
  position: absolute;
  top: 90px;
  right: 20px;
  border: solid black 1px;
  width: 30vw;
  height: 40vh;

}

.pricelist-box {
  position: absolute;
  border: solid black 1px;
  bottom: 140px;
  right: 20px;
  width: 30vw;
  height: 25vh;
}

.library-image {
  width: auto;
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
}

.library-topic-selection-box {
  display: flex;
  flex-direction: row;

}

.topic-box {
  font-style: italic;
  font-size: small;
  border: solid black 1px;
  padding: 5px;
  cursor: pointer;
}

.topic-box-selected {
  font-style: italic;
  font-size: small;
  border: solid black 1px;
  padding: 5px;
  cursor: pointer;
  background-color: #034078;
}

.ConfigStart {
  width: 50px;
  height: 15px;
}

.flexbox-underbar {
  display: flex;
  justify-content: space-around;
  align-items: end;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.underbar-section-side {
  width: 33.33%;
  height: 160px;
  background-color: #fff;
  bottom: 0px;
}

.underbar-section-middle {
  width: 33.33%;
  height: 200px;
  background-color: #fff;
}

.underbar-section-top-bar {
  width: 100%;
  height: 40px;
  background-color: #034078;
  position: relative;
  top: 0px;
}

/* Section About */
#About {
  text-align: center;
  max-width: 1920px;
  margin: auto;
  border-radius: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #fff url('files/about2.jpg') center/cover;
}

#About p {
  font-size: 0.3em;
  line-height: 1.3;
  margin: 0 250px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 100px;
  color: #3f5094;
}

#About strong {
  font-size: 1.2em;
  color: #034078;
  font-weight: bold;
}

#About strong:last-child {
  font-size: 1em;
}

/* Button Styles */
button {
  background-color: #034078;
  color: white;
  margin: 10px 130px;
  padding: 10px 50px;
  border-radius: 100px;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1147acb7;
}

/* Contact us */

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

main {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* roomSize */

.form-container {
  background-color: #ffffff;
  padding: 20px;
  width: 300px;
  position: absolute;
  top: 160px;
  right: 360px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Footer */

.footer-distributed {
  background: #034078;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 40px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Arial', sans-serif;
  margin: 0;
}

.footer-distributed h3 span {
  color:  #6197fcb7;
  font: normal 20px 'Arial', sans-serif;
}

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

/* past de copyright teks aan */
.footer-distributed .footer-company-name{
  color:  #6197fcb7;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}

/* Footer Center opmaak */
.footer-distributed .footer-center i {
  background-color: #33383b;
  font-size: 25px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

/* Footer Center opmaak */
.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

/* past de kleur van de link aan */
.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-right p a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* Footer links gaat over links naar pages*/
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}


/* Footer Right */
.footer-distributed .footer-right {
  width: 20%;
}

/* opmaak van de about company kopje */
.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}


/* opmaak van de about company tekst */
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* iconen van de footer */
.footer-icons {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.footer-icons a {
  margin: 0 10px; 
  text-decoration: none; 
}

/* style voor de html en php knoppen */
.footer-icons img {
  width: 40px; 
  height: 40px; 
}
